/camvid_deeplab/*
/camvid_unet/*
/camvid_deeplab/*
/confusion_matrices/*
/data/*
/data_MNIST/*
dataset_coco.py
/deeplab/*
data_aug_vis.ipynb 
/deeplabV3/*
dl_train.ipynb
fastai_camvid.ipynb
Focal_loss.ipynb     
/models/*
/plots/*
preprocess.ipynb
Untitled1.ipynb
Untitled.ipynb
utils.py
/Varis/*
train.ipynb
train_pre-Copy1.ipynb
/runs/*
unet.py
camvid_unet.ipynb
.bash_history
.cache/
.fastai/
.ipynb_checkpoints/
.ipython/
.jupyter/
.local/
.ssh/
.vscode-server/
.wget-hsts
/__pycache__/*
/segmentation_models/*
venv/
venv_rs/
/new_camvid/*